$body_bgc: beige;
$nav_bgc : rgb(65, 5, 5);
$nav_text : beige;
$nav_active_text : rgb(192, 126, 126);
$nav_selected_text : rgb(209, 174, 174);
$nav_height: 150px;

$smartphone_width: 900px;
$tablet_width: 1050px;

$smartmenu_color: white;
$smartmenu_bgc: rgb(65, 5, 5);
$smartmenu_border_color: rgb(200,200,200);
$smartmenu_border_radius: 5px;

$header_text: rgb(128,1,31);
$normal_text: rgb(46, 66, 38);

$module_border_color: rgb(192, 126, 126);
$logo_text_color: white;
$logo_text2_color :rgb(190, 209, 183);

$read_more_height: 10.5rem;
