$body_bgc: beige;
$nav_bgc : rgb(65, 5, 5);
$nav_bgc2 : rgb(29, 12, 1);
$nav_text : beige;
$nav_active_text : rgb(192, 126, 126);
$nav_selected_text : rgb(209, 174, 174);
$nav_height: 150px;
$nav_smartphone_height: 100px;

$smartphone_width: 900px;
$tablet_width: 1050px;

$smartmenu_color: white;
$smartmenu_bgc: rgb(65, 5, 5);
$smartmenu_border_color: rgb(200,200,200);
$smartmenu_border_radius: 5px;

$header_text: rgb(128,1,31);
$normal_text: rgb(46, 66, 38);

$font_normal: 'Source Sans Pro';
$font_header: 'merienda';
$font_logo: 'barkentina_testregular';

$body_min_width: 350px;

// Главное меню (шапка) - z-index: 2;
// Управляющие элементы (кнопки и т.д.) - z-index: 1;

@font-face {
    font-family: 'barkentina_testregular';
    src: url('../font/8735-webfont.eot');
    src: url('../font/8735-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/8735-webfont.woff2') format('woff2'),
         url('../font/8735-webfont.woff') format('woff'),
         url('../font/8735-webfont.ttf') format('truetype'),
         url('../font/8735-webfont.svg#barkentina_testregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    position: relative;
    min-width: $body_min_width;
    font-family: 'Source Sans Pro';
    background-color: $body_bgc;
    background-image: url('../img/bg.jpg');
    font-size: 20px;
    width: 100%;
    margin: 0;
    padding: 0;
    color: $normal_text;
}

.hidden-elem {
    display: none!important;
}

.center {
    text-align: center!important;
}

.layer1 {
    z-index: 1!important;
}

.layer2 {
    z-index: 2!important;
}


#home-arrow {
    border-radius: 50%;
    background-color: $header_text;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    opacity: 0.5;
    color: $nav_text;
    position: fixed;
    right: 10px;
    bottom: 200px;
    z-index: 2;
    cursor: pointer;
    transform: rotate(-90deg);
    &:hover {
        opacity: 0.8;
    }
    &::before {
        content: "\27a4";
        font-size: 40px;
    }
    @media (max-width: $tablet_width) {
        right: 20px;
    }
    @media (max-width: $smartphone_width) {
        right: 15px;
    }
}

nav {
    z-index: 2;
    position: fixed;
    padding: 0 20px;
    top: 0;
    height: $nav_height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, $nav_bgc, $nav_bgc2);
    user-select: none;
    box-shadow: 0 0 20px 7px $nav_active_text;
    font-family: $font_header;
    @media (max-width: $smartphone_width) {
        height: $nav_smartphone_height;
    }
    .nav__logo {
        display: block;
        z-index:2;
        width: 30%;
        height: inherit;
        @media (max-width: $tablet_width) {
            width: 35%;
        }
        @media (max-width: $smartphone_width) {
            width: 60%;
        }
        @media (max-width: $smartphone_width - 200) {
            width: 70%;
        }
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            max-height: 90%;
            max-width: 100%;
        }
        .nav__logo__text {
            display: flex;
            flex-direction: column;
            span {
                color: $nav_text;
                margin-left: 5px;
                font-family: $font_logo;
                font-style: italic;
                font-weight: bold;
            }
        }
    }

    .nav__menu {
        z-index:2;
        width: 70%;
        margin-right: 20px;
        @media (max-width: $tablet_width) {
            width: 60%;
            margin: 0;
        }
        @media (max-width: $smartphone_width) {
            width: 15%;
            margin: 0;
        }
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    %nav-elements {
        display: inline-block;
        font-weight: bold;
        color:  $nav_text;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            color: $nav_active_text;
        }
    }

    .nav__elem {
        @extend %nav-elements;
        padding: 10px;
        &::before {
            content: "⋅ ";
        }
        @media (max-width: $smartphone_width) {
            display: none;
        }
    }

    .nav__elem_active {
        color: $nav_selected_text;
    }

    .nav__button {
        @extend %nav-elements;
        font-size: 2.5rem;
        display: none;
        @media (max-width: $smartphone_width) {
            display: inline-block;
            position: absolute;
            right: 3%;
        }
    }
    .nav__smartmenu {
        ul {
            padding: 0;
            margin: 0;
        }
        width: 40%;
        display: none;
        @media(max-width: 600px) {
            width: 60%;
        }
        position: fixed;
        z-index: 2;
        top: 5px;
        right: 5px;
        border-radius: 8px;
        padding: 20px;
        background-color: $smartmenu_bgc;
        border: 1px solid $smartmenu_border_color;
        border-radius: $smartmenu_border_radius;
        &.nav__smartmenu_active {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
        .nav__smartmenu__elem {
            color: $smartmenu_color;
            font-weight: bold;
            list-style-type: none;
            cursor: pointer;
        }
        .nav__smartmenu__close {
            text-align: right;
            padding-right: 20px;
            list-style-type: none;
            color: $nav_text;
            span {
                cursor: pointer;
            }
        }
    }
} // nav

.read-more {
    max-height: 0;
    overflow: hidden;
    
}

.read-more-button {
    
    display: block;
    z-index: 1;
    top: -10px;
    background-color: $nav_bgc;
    color: $nav_text;
    padding: 10px;
    border: 1px solid $smartmenu_border_color;
    border-radius: 10px;
    opacity: 0.7;
    font-style: italic;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    &::before {
        
        content: "Read more ...";
        z-index: 1;
    }
}

main {
    height: 100%;
    width: 100%;
    margin-top: $nav_height * 1.5;
    

    .main__module {
        
        width: 85%;
        margin: 50px 5% 50px 10%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        @media (max-width: $smartphone_width) {
            width: 90%;
            margin: 20px 3% 20px 7%;
        }

        .main__module__header {
            width: 100%;
            color: $header_text;
            font-size: 1.5rem;
            font-family: $font_header;
            margin-bottom: 20px;
        }
        
        %sub-header {
            width: 100%;
            color: $normal_text;
            font-size: 1.4rem;
            font-family: $font_normal;
            font-weight: bold;
        }

        .main__module__sub-header {
            @extend %sub-header;
        }

        .main__module__content {
            width: 100%;
            

            %content-img {
                width: 30%;
                height: auto;
            }

            img {
                max-width: 100%;
                
                margin: 0;
                height: auto;

                &.img-right {
                    @extend %content-img;
                    float: right;
                    margin: 0;
                    margin-left: 20px;
                    padding: 0;
                    text-align: right;
                    @media (max-width: $smartphone_width) {
                        margin-left: 10px;
                        width: 50%;
                    }
                }
                &.img-left {
                    @extend %content-img;
                    float: left;
                    margin: 0;
                    margin-right: 20px;
                    padding: 0;
                    text-align: left;
                    @media (max-width: $smartphone_width) {
                        margin-right: 10px;
                        width: 50%;
                    }
                }
            }

            .main__module__content__img1 {
                @extend %content-img;
                float: left;
                margin-right: 20px;
                padding: 0;
                text-align: left;
                @media (max-width: $smartphone_width) {
                    margin-right: 10px;
                    width: 50%;
                }

            }
            
            .main__module__content__img2 {
                @extend %content-img;
                float: right;
                margin-left: 20px;
                padding: 0;
                text-align: right;
                @media (max-width: $smartphone_width) {
                    margin-left: 10px;
                    width: 50%;
                }

            }
            
            h1, h2, h3, h4, h5, h6 {
                @extend %sub-header;
            }
    
            li {
                margin: 20px 0;
            }
            
            div {
                width: 100%;
            }
            
            p {
                text-align: justify;
                width: 100%;
                text-indent: 2%;
                margin: 0;
                margin-bottom: 20px;
            }

            b {
                font-family: $font_header;
                color: $header_text;
                font-weight: bold;
            }
        } // main__module__content
        
        &.main__module_full-width {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 0;
        }
        

    } // main__module
} // main

footer {
    background-color: $nav_bgc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: $nav_text;
    width: 100%;
    margin: 150px 0 0;
    

    
    .footer__header {
        padding-left: 100px;
        padding-top: 20px;
        font-family: $font_header;
        font-size: 1.5rem;
        @media (max-width: $smartphone_width) {
            padding-left: 20px;
        }
    }
    
    .footer__content {
        
        text-align: left;
        padding-left: 120px;
        @media (max-width: $smartphone_width) {
            padding-left: 40px;
        }

        img {
            position: absolute;
            max-height: 182%;
            right: 0;
            top: -54px;
            @media (max-width: $smartphone_width) {
                display: none;
            }
        }

    }
    
    .footer-copyright {
        
        text-align: center;
        hr {
            margin: 50px 0;
        }
        img {
            position: absolute;
            left: 0;
            right: 0;
            top: -30px;
            margin: auto;
            width: 50px;
            background-color: $nav-bgc;
            box-sizing: content-box;
        }
    }

} // footer


.grape {
    position: fixed;
    width: 170px;
    right: -14px;
    top: -4px;
    @media (max-width: $tablet_width) {
        display:block;
    }
    @media (max-width: $smartphone_width) {
        display: none;
    }
}

.frame_top {
    position: fixed;
    left: 0;
    top: $nav_height * 0.8;
    z-index: 1;
    width: 430px;
    @media (max-width: $tablet_width) {
        width: 330px;
    }
    @media (max-width: $smartphone_width) {
        width: 210px;
        left: -25px;
        top: $nav_smartphone_height * 0.8;
    }
}

.wine-description {
    background-image: url(../img/paper.jpg);
    background-size: 100% 100%;
    padding: 20px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    p {
        text-align: center!important;
    }
}
.wine {
    display: flex!important;
    flex-wrap: wrap!important;
    flex-direction: column!important;
    justify-content: flex-start!important;
    align-items: center!important;
    background-image: url(../img/product_bg.jpg);
    background-size: 100% 105%;
    background-position: 0px 0px;
    background-repeat: no-repeat;

    .wine__name {
        width: 90%!important;
        font-size: 1.5em!important;
        font-weight: bold!important;
        color: $nav_bgc!important;
    }
    .wine__year {
        color: $nav_text!important;
        font-size: 1.4em!important;
        font-family: 'merienda'!important;
        font-weight: bold!important;
    }
    .wine__class {
        font-size: 1em!important;
        top: -5px!important;
        color: white!important;
    }
    img {
        height: 68%!important;
        margin-top: 13px!important;
    }

}