@charset "UTF-8";
@font-face {
  font-family: 'barkentina_testregular';
  src: url("../font/8735-webfont.eot");
  src: url("../font/8735-webfont.eot?#iefix") format("embedded-opentype"), url("../font/8735-webfont.woff2") format("woff2"), url("../font/8735-webfont.woff") format("woff"), url("../font/8735-webfont.ttf") format("truetype"), url("../font/8735-webfont.svg#barkentina_testregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  min-width: 350px;
  font-family: 'Source Sans Pro';
  background-color: beige;
  background-image: url("../img/bg.jpg");
  font-size: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #2e4226;
}

.hidden-elem {
  display: none !important;
}

.center {
  text-align: center !important;
}

.layer1 {
  z-index: 1 !important;
}

.layer2 {
  z-index: 2 !important;
}

#home-arrow {
  border-radius: 50%;
  background-color: #80011f;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  opacity: 0.5;
  color: beige;
  position: fixed;
  right: 10px;
  bottom: 200px;
  z-index: 2;
  cursor: pointer;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#home-arrow:hover {
  opacity: 0.8;
}

#home-arrow::before {
  content: "\27a4";
  font-size: 40px;
}

@media (max-width: 1050px) {
  #home-arrow {
    right: 20px;
  }
}

@media (max-width: 900px) {
  #home-arrow {
    right: 15px;
  }
}

nav {
  z-index: 2;
  position: fixed;
  padding: 0 20px;
  top: 0;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: -webkit-gradient(linear, left top, right top, from(#410505), to(#1d0c01));
  background: linear-gradient(to right, #410505, #1d0c01);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 0 20px 7px #c07e7e;
          box-shadow: 0 0 20px 7px #c07e7e;
  font-family: "merienda";
}

@media (max-width: 900px) {
  nav {
    height: 100px;
  }
}

nav .nav__logo {
  display: block;
  z-index: 2;
  width: 30%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (max-width: 1050px) {
  nav .nav__logo {
    width: 35%;
  }
}

@media (max-width: 900px) {
  nav .nav__logo {
    width: 60%;
  }
}

@media (max-width: 700px) {
  nav .nav__logo {
    width: 70%;
  }
}

nav .nav__logo img {
  max-height: 90%;
  max-width: 100%;
}

nav .nav__logo .nav__logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .nav__logo .nav__logo__text span {
  color: beige;
  margin-left: 5px;
  font-family: "barkentina_testregular";
  font-style: italic;
  font-weight: bold;
}

nav .nav__menu {
  z-index: 2;
  width: 70%;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1050px) {
  nav .nav__menu {
    width: 60%;
    margin: 0;
  }
}

@media (max-width: 900px) {
  nav .nav__menu {
    width: 15%;
    margin: 0;
  }
}

nav .nav__elem, nav .nav__button {
  display: inline-block;
  font-weight: bold;
  color: beige;
  text-decoration: none;
  cursor: pointer;
}

nav .nav__elem:hover, nav .nav__button:hover {
  color: #c07e7e;
}

nav .nav__elem {
  padding: 10px;
}

nav .nav__elem::before {
  content: "⋅ ";
}

@media (max-width: 900px) {
  nav .nav__elem {
    display: none;
  }
}

nav .nav__elem_active {
  color: #d1aeae;
}

nav .nav__button {
  font-size: 2.5rem;
  display: none;
}

@media (max-width: 900px) {
  nav .nav__button {
    display: inline-block;
    position: absolute;
    right: 3%;
  }
}

nav .nav__smartmenu {
  width: 40%;
  display: none;
  position: fixed;
  z-index: 2;
  top: 5px;
  right: 5px;
  border-radius: 8px;
  padding: 20px;
  background-color: #410505;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

nav .nav__smartmenu ul {
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  nav .nav__smartmenu {
    width: 60%;
  }
}

nav .nav__smartmenu.nav__smartmenu_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

nav .nav__smartmenu .nav__smartmenu__elem {
  color: white;
  font-weight: bold;
  list-style-type: none;
  cursor: pointer;
}

nav .nav__smartmenu .nav__smartmenu__close {
  text-align: right;
  padding-right: 20px;
  list-style-type: none;
  color: beige;
}

nav .nav__smartmenu .nav__smartmenu__close span {
  cursor: pointer;
}

.read-more {
  max-height: 0;
  overflow: hidden;
}

.read-more-button {
  display: block;
  z-index: 1;
  top: -10px;
  background-color: #410505;
  color: beige;
  padding: 10px;
  border: 1px solid #c8c8c8;
  border-radius: 10px;
  opacity: 0.7;
  font-style: italic;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.read-more-button::before {
  content: "Read more ...";
  z-index: 1;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 225px;
}

main .main__module {
  width: 85%;
  margin: 50px 5% 50px 10%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 900px) {
  main .main__module {
    width: 90%;
    margin: 20px 3% 20px 7%;
  }
}

main .main__module .main__module__header {
  width: 100%;
  color: #80011f;
  font-size: 1.5rem;
  font-family: "merienda";
  margin-bottom: 20px;
}

main .main__module .main__module__sub-header, main .main__module .main__module__content h1, main .main__module .main__module__content h2, main .main__module .main__module__content h3, main .main__module .main__module__content h4, main .main__module .main__module__content h5, main .main__module .main__module__content h6 {
  width: 100%;
  color: #2e4226;
  font-size: 1.4rem;
  font-family: "Source Sans Pro";
  font-weight: bold;
}

main .main__module .main__module__content {
  width: 100%;
}

main .main__module .main__module__content img.img-right, main .main__module .main__module__content img.img-left, main .main__module .main__module__content .main__module__content__img1, main .main__module .main__module__content .main__module__content__img2 {
  width: 30%;
  height: auto;
}

main .main__module .main__module__content img {
  max-width: 100%;
  margin: 0;
  height: auto;
}

main .main__module .main__module__content img.img-right {
  float: right;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  text-align: right;
}

@media (max-width: 900px) {
  main .main__module .main__module__content img.img-right {
    margin-left: 10px;
    width: 50%;
  }
}

main .main__module .main__module__content img.img-left {
  float: left;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  text-align: left;
}

@media (max-width: 900px) {
  main .main__module .main__module__content img.img-left {
    margin-right: 10px;
    width: 50%;
  }
}

main .main__module .main__module__content .main__module__content__img1 {
  float: left;
  margin-right: 20px;
  padding: 0;
  text-align: left;
}

@media (max-width: 900px) {
  main .main__module .main__module__content .main__module__content__img1 {
    margin-right: 10px;
    width: 50%;
  }
}

main .main__module .main__module__content .main__module__content__img2 {
  float: right;
  margin-left: 20px;
  padding: 0;
  text-align: right;
}

@media (max-width: 900px) {
  main .main__module .main__module__content .main__module__content__img2 {
    margin-left: 10px;
    width: 50%;
  }
}

main .main__module .main__module__content li {
  margin: 20px 0;
}

main .main__module .main__module__content div {
  width: 100%;
}

main .main__module .main__module__content p {
  text-align: justify;
  width: 100%;
  text-indent: 2%;
  margin: 0;
  margin-bottom: 20px;
}

main .main__module .main__module__content b {
  font-family: "merienda";
  color: #80011f;
  font-weight: bold;
}

main .main__module.main__module_full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

footer {
  background-color: #410505;
  color: beige;
  width: 100%;
  margin: 0;
}

footer .footer__header {
  padding-left: 100px;
  font-family: "merienda";
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  footer .footer__header {
    padding-left: 20px;
  }
}

footer .footer__content {
  text-align: left;
  margin-left: 120px;
}

@media (max-width: 900px) {
  footer .footer__content {
    margin-left: 40px;
  }
}

footer .footer__content img {
  position: absolute;
  max-height: 166%;
  right: 0;
  top: -34px;
}

@media (max-width: 900px) {
  footer .footer__content img {
    display: none;
  }
}

footer .footer-copyright {
  text-align: center;
}

footer .footer-copyright hr {
  margin: 50px 0;
}

footer .footer-copyright img {
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  margin: auto;
  width: 50px;
  background-color: #410505;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.grape {
  position: fixed;
  width: 170px;
  right: -10px;
  top: 0;
}

@media (max-width: 1050px) {
  .grape {
    display: block;
  }
}

@media (max-width: 900px) {
  .grape {
    display: none;
  }
}

.frame_top {
  position: fixed;
  left: 0;
  top: 120px;
  z-index: 1;
  width: 430px;
}

@media (max-width: 1050px) {
  .frame_top {
    width: 330px;
  }
}

@media (max-width: 900px) {
  .frame_top {
    width: 210px;
    left: -25px;
    top: 80px;
  }
}
/*# sourceMappingURL=styles.css.map */